{% extends 'base.html.twig' %}
{% block title %}list all {% endblock %}
{% block body %}
    <h1>Books</h1>
    <ul>
        {% for book in books %}
            <li>{{ book.title }}, {{ book.catagory }}</li>
        {% endfor %}
    </ul>
    <h2>List of catagories</h2>
    <p>{{ list }}</p>

{% endblock %}