{% extends 'base.html.twig' %}
{% block title %}search{% endblock %}
{% block body %}
    <h1>Search all books</h1>
    <p>
        Enter title, author or keyword to search all books
    </p>
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <input type="submit" value="search">
    {{ form_end(searchForm) }}

{% endblock %}