{% extends 'base.html.twig' %}
{% block title %}search results{% endblock %}
{% block body %}
    <h1>Search results</h1>
    <ul>
        {% for book in books %}
            <li>{{ book.author }}, <strong>{{ book.title }}</strong>, <em>{{ book.catagory }}</em></li>
        {% endfor %}
    </ul>

{% endblock %}