{% extends 'base.html.twig' %}
{% block title %}change password{% endblock %}
{% block body %}
    <h1>Change password</h1>
    {{ form_start(form) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <input type="submit" value="change password">
    {{ form_end(form) }}
{% endblock %}