/* basic stylesheet for Libsys */

html{
    font-size: 17px;
    background-color: #ccc;
}

body{
    font-family: Verdana, Arial, sans-serif;
}

ul{
    list-style-type: none;
}

.centre{
    text-align: center;
}

h1{
    font-size: 2rem;
    text-align: center;
}

h1.authWarning{
    font-size: 3rem;
    text-align: center;
    color: #009;
}

/* nav styling */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2.5rem;
}

nav a{
    color: #039;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
}

nav a:hover{
    text-decoration: underline;
    color: #309;
}

nav a.current_page{
    color: #303;
}


