{% extends 'base.html.twig' %}
{% block title %}about{% endblock %}
{% block body %}
    <h1>About Libsys</h1>
    <p>
        Libsys is a library information management system.  This system is designed to allow tracking of users, books and loans.
    </p>

{% endblock %}