{% extends 'base.html.twig' %}
{% block title %}about{% endblock %}
{% block body %}
    <h1>About the online library information system</h1>
    <h2>Background</h2>
    <p>Library cataloguing systems need to work with the classification systems used in
        libraries to ensure that all the required information is recorded. Libraries require
        cataloguing systems to keep track of the library inventory, from the early days of hand-
        written records to modern computerised database systems. Today's library users are
        increasingly technology literate (Clehane and O'Brien, 2015) and these users have an
        expectation of access to information via the web or downloadable apps.</p>
    <h2>Technology</h2>
    <p>Libraries in this information-driven age need to make use of currently available
        technologies to provide the best service to customers. The expansion of library
        holdings into various types of media including music, DVD and eBooks gives rise to
        the question of how to catalogue these items for ease of searching. Modern methods of
        classification and up-to-date search tools may make this task easier. Further advances
        can be made into integrated information management and cataloguing systems for
        libraries, providing new or enhanced services for customers and staff. Collaborations
        between various libraries would be easier if the systems used were easy to integrate,
        being based on similar platforms and using the same terminology (Stack, 2015).</p>
    <h2>References</h2>
    <p>Clehane, C. and O'Brien, C. (2015) Innovation and Evolution: challenges and
        opportunities for 21st century academic and research libraries, Radisson Blu Hotel,
        Athlone, June 3rd & 4th 2015. An Leabharlann 24(2) pp. 26-27 Library Association of
        Ireland.</p>
    <p>Stack, P. (2015) Looking Back, Moving Forward: open repositories at the crossroads,
        10th Open Repositories Conference, 8-11 June 2015, Indianapolis. An Leabharlann
        24(2) pp. 28-29 Library Association of Ireland.</p>

{% endblock %}