{% extends 'base.html.twig' %}
{% block title %}home{% endblock %}
{% block body %}
    <h1>Welcome to Libsys</h1>
    <a href="{{ path('list_books') }}">list of books</a>
    <a href="{{ path('list_users') }}">list of users</a>
{% endblock %}