{% extends 'base.html.twig' %}
{% block title %}home{% endblock %}
{% block body %}
    <h1>Welcome to the Library System</h1>
    <p class="centre">
        Library information management system.
    </p>
    <p class="centre">
        <a href="{{ path('search_books') }}">Search</a> our catalogue or <a href="{{ path('login') }}">login</a> to view your MyLoans page.
    </p>

{% endblock %}